<a href="https://colab.research.google.com/github/juniomuniz/Logical-Python-/blob/main/Manipulate_list_important.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
list1 = [4,3,5,2,6,7,8,7,8]
print(list1) 
lenght = len(list1 )
print(lenght)

[4, 3, 5, 2, 6, 7, 8, 7, 8]
9

# method append

In [60]:
list1.append(3)
lenght = len(list1)
print(f"One more number was added ->{list1}")
print(f"new lenght are {lenght}")

One more number was added ->[4, 3, 5, 2, 6, 7, 8, 7, 8, 3]
new lenght are 10

# one more nunber was added but this time with position

In [61]:
list1.insert(0,100)
print(f"The number 100 was added in position 0 {list1}")

The number 100 was added in position 0 [100, 4, 3, 5, 2, 6, 7, 8, 7, 8, 3]

# This method will remove a value

In [49]:
list1.remove(list1[3]) # list1.remove(3)
print(f" that method removed the first number with the same value{list1}")

 that method removed the first number with the same value[100, 4, 3, 2, 6, 7, 8, 7, 8, 3]

In [63]:
x =list1.pop(3)
print(x)

2

# This method counts repetitions

In [51]:
count = list1.count(3)
print(count)

2

#This method will organize the list from smallest to largest

In [54]:
list1.sort()
print(list1)

[2, 3, 3, 4, 6, 7, 7, 8, 8, 100]

TypeError: ignored

# on the contrary of sort

In [58]:
list1.reverse()
print(list1)

[100, 8, 8, 7, 7, 6, 4, 3, 3, 2]

list1.reverse =true

```
# Isto está formatado como código
```

# this methods might make some operations on that list

In [57]:
print(min(list1),max(list1),sum(list1) )

2 100 148